body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#cart {
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-btn,
.remove-btn,
.like-btn {
    margin-left: 10px;
    cursor: pointer;
}

.like-btn {
    color: black; /* Couleur par défaut */
}
.like-btn.active {
    color: red; /* Couleur lorsque l'article est aimé */
}

#total-price {
    font-size: 18px;
    font-weight: bold;
}
